body {
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}
* {
  font-family: "Verdana", cursive, sans-serif;
  color: #ffd900;
}

body {
  background-color: #221074;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.app {
  background-color: #489ae6;
  width: 500px;
  min-height: 250px;
  height: min-content;
  border-radius: 25px;
  padding: 40px;
  box-shadow: 20px 20px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-evenly;
}

